<!--begin::Card widget 16-->
<div class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-center border-0 h-md-75 mb-5 mb-xl-10">
    <!-- style="background-color: #080655" -->
    <!--begin::Header-->
    <div class="card-header pt-5">
        <!--begin::Title-->
        <div class="card-title d-flex flex-column">
            <!--begin::Subtitle-->
            <span class="text-white opacity-50 pt-1 fw-semibold fs-6 mb-2">{{ service }}</span>
            <!--end::Subtitle-->

            <!--begin::Amount-->
            <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">{{ slo_percent }}%</span>
            <!--end::Amount-->
        </div>
        <!--end::Title-->
        <!--begin::Logo-->
        {% if slo_percent < 50 %}
        <div class="d-flex justify-content-end align-items-center">
            <div class="d-flex justify-content-center align-items-center justify-content-end" style="width: 80px; height: 80px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="80%" height="80%" fill="currentColor"
                    class="bi bi-exclamation-circle-fill text-danger" viewBox="0 0 16 16" style="font-size: 10rem;">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                </svg>
            </div>
        </div>
        {% elif slo_percent < 80 %}
        <div class="d-flex justify-content-end align-items-center">
            <div class="d-flex justify-content-center align-items-center justify-content-end" style="width: 80px; height: 80px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="80%" height="80%" fill="currentColor"
                    class="bi bi-exclamation-circle-fill text-warning" viewBox="0 0 16 16" style="font-size: 10rem;">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                </svg>
            </div>
        </div>
        {% else %}
        <div class="d-flex justify-content-end align-items-center">
            <div class="d-flex justify-content-center align-items-center justify-content-end" style="width: 80px; height: 80px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="80%" height="80%" fill="currentColor"
                    class="bi bi-check-circle-fill  text-success" viewBox="0 0 16 16" style="font-size: 10rem;">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
            </div>
        </div>
        {% endif %}
        <!--end::Logo-->
    </div>
    <!--end::Header-->

    <!--begin::Card body-->
    <div class="card-body d-flex align-items-end pt-0">
        <!--begin::Progress-->
        <div class="d-flex align-items-center flex-column mt-3 w-100 justify-content-end">
            <div class="d-flex justify-content-between fw-bold fs-6 text-white opacity-50 w-100 mt-auto mb-2">
                <!-- <span>43 Pending</span> -->
                <!-- <span>72%</span> -->
            </div>

            <div class="h-8px mx-3 w-100 rounded">
                {% if slo_percent < 50 %}
                <div class="bg-danger rounded h-8px" role="progressbar" style="width: {{ slo_percent }}%;" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                {% elif slo_percent < 80 %}
                <div class="bg-warning rounded h-8px" role="progressbar" style="width: {{ slo_percent }}%;" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                {% else %}
                <div class="bg-success rounded h-8px" role="progressbar" style="width: {{ slo_percent }}%;" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                {% endif %}
            </div>
        </div>
        <!--end::Progress-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Card widget 16-->